# Credenciais do Google AdSense
VITE_GOOGLE_ADSENSE_PUB_ID=ca-pub-3744870258269473

# Senha do Painel Administrativo
VITE_ADMIN_PASSWORD=admin123

# Email do administrador (para logs e permissões extras se necessário)
VITE_ADMIN_EMAIL=welersonfaril@gmail.com
